.box{
    width: 300px;
    height: 400px;
    background-color:red;
}
.text1{
    font-size: 3em;
}
.text2{
    font-size: 2rem;
}
.text3{
    font-size: 15%;
}
.text4{
    color:#FF0077;
}

.text5{
    color: rgb(0, 255, 13);
}
.text6{
    color: rgba(255, 0, 119, 0.295);
}