h2 {
    color: green;
}

P {
    color: blue;
    font-size: 16px;
}

.asd {
    font-size: 26px;
}
.dsa {
    font-size: 24px;
}
#qwe {
    color: red;
}
#ewq {
    color: orange;
}
.ghj {
    color: purple;
}